PORT=3001
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/spotify?retryWrites=true&w=majority

ADMIN_EMAIL=your-admin@email.com

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key

NODE_ENV=development
